*, body, html{
    padding: 0;
    margin: 0;
	border: 0;
	font: inherit;
    list-style: none;
    text-align: unset;
	font-size: 100%;
    box-sizing: border-box;
	vertical-align: baseline;
    font-family: "Montserrat", system-ui;
}

.main{
    background-color: #00466C;
}

a{
    text-decoration: none;
}

.toIndex{
    position: absolute;
    top: 0;
    left: 0;
}

.container{
    margin-top:100px;
}

.PageXContainer{
    padding: 0px 80px;
}

